@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Ubuntu:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	width: 100%;
	height: auto;
	display: block;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
.header-top{
	background-image: url('images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: auto;
}
.container{
	width: 85%;
	margin: 0 auto;	
}
.nav-flex{
	display: flex;
	justify-content: space-between;
}
.header-logo h2{
	font-size: 40px;
	color: #fff;
	padding: 25px 0;
}
.header-logo span{
	color: red;
}
.header-menu > ul{
	display: flex;
}
.header-menu ul li{
	list-style: none;
	position: relative;
}
.header-menu ul li a{
	text-decoration: none;
	padding: 40px 18px 20px;
	display: block;
	font-size: 20px;
	color: #fff;
	transition: .3s;
}
.header-menu ul li a:hover{
	color: red;
}
.header-menu ul ul{
	position: absolute;
	top: 100%;
	left: 0;
	border-top: 1px solid #fff;
}
.header-menu ul ul a{
	padding-top: 5px; 
	white-space: nowrap;
	display: none;
	transition: .5s;
}
.header-menu ul ul li:first-child{
	padding-top: 15px;
}
.header-menu ul li:hover ul li a{
	display: block;
}
.header-info{
	margin: 11% 0 0;
	color: #fff;
	padding-bottom: 215px;
}
.header-info h4{
	font-size: 30px;
	padding-top: 10px; 
}
.header-info h2{
	font-size: 5em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}
.header-info h3{
	font-size: 40px;
	padding: 10px 0;
}
.header-info h3 span{
	color: #DC143C;
}
.header-info button{
	border: 1px solid #DC143C;
	padding: 13px 45px;
	font-size: 20px;
	background-color: #DC143C;
	color: #fff;
	margin-top: 15px;
	cursor: pointer;
	border-radius: 6px;
	transition: .3s;
}
.header-info button:hover{
	background-color: transparent;
	color: #DC143C;
}
.social-bar{
	display: none;
}
.social-bar i{
	font-size: 30px;
	color: #fff;
	margin-top: 35px;
}
/*Header Area End*/

.about-area{
	padding: 100px 0;
}
.about-title{
	text-align: center;
	padding-bottom: 100px;
}
.about-title h2{
	font-size: 42px;

}
.about-title span{
	color: #DC143C;
	font-weight: bold;
	font-size: 20;
	position: relative;
	padding-left: -80px;
}
.about-title span::before{
	position: absolute;
	content: "";
	width: 60px;
    height: 4px;
    background: #000;
    right: 0;
    bottom: 35%;
    transform: translateX(-110%);
}
.about-title span::after{
	position: absolute;
	content: "";
	width: 60px;
    height: 4px;
    background: #000;
    right: 0;
    bottom: 35%;
    transform: translateX(110%);
}
.about-info{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-img{
	width: 100%;
}
.about-img img{
	border-radius: 15px;
}
.about-intro{
	margin: 0 0 0 100px;
}
.about-intro h3{
	font-size: 35px;
}
.about-intro h3 span{
	color: #DC143C;
}
.about-intro p{
	font-size: 18px;
	width: 80%;
	text-align: justify;
	line-height: 25px;
	margin: 15px 0;
}
.about-area button{
	border: none;
	padding: 14px 45px;
	font-size: 20px;
	background-color: #DC143C;
	color: #fff;
	margin-top: 15px;
	cursor: pointer;
	border-radius: 8px;
	transition: .3s;
}
.about-intro button:hover{
	background-color: #333;
	color: #DC143C;
	border-color:  #fff;
}
/*About Area End*/
.service-area{
	background-color: #111111;
	color: #fff;
	padding: 80px 0 110px;
}
.service-title{
	text-align: center;
}
.service-title span::before{
	background-color: #fff;
	transform: translateX(-260%);
	width: 40px;
}
.service-title span::after{
	background-color: #fff;
	width: 40px;
}
.service-card{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	
}
.service-card .card{
	background-color: #222;
	margin: 0 10px;
	padding: 35px 30px;
	width: 30%;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	transition: .3s;
}
.service-card .card:hover{
	background-color: #DC143C;
	color: #fff;
	transform: scale(1.03);
}
.card a i{
	font-size: 50px;
	color: #DC143C;
}
.service-card .card:hover a i{
	color: #fff;
}
.card h3{
	font-size: 32px;
	padding: 15px 0;
}
.card p{
	font-size: 19px;
	font-family: font-family poppins,sans-serif;
	font-weight: 400;
}
/*Skill Area End*/

.skill-area{
	padding: 90px 0;
}
.skill-content{
	display: flex;
	justify-content: space-between;
}
.skill-info{
	width: 100%;
}
.skill-info h3{
	font-size: 25px;
	margin-top: 10px;
}
.skill-info p{
	font-size: 19px;
	line-height: 30px;
	margin: 25px 0;
}
.skill-info button{
	border: 1px solid #DC143C;
	outline: 0!important;
	padding: 13px 40px;
	font-size: 20px;
	background-color: #DC143C;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	transition: .3s;
}
.skill-info button:hover{
	border-color: #DC143C;
	color: #DC143C;
	background-color: transparent;
}
.skill-title span::before{
	transform: translateX(-215%);
	width: 40px;
	height: 4px;
}
.skill-title span::after{
	width: 40px;
	height: 4px;
}
.skill-intro h3{
	font-size: 22px;
	margin: 10px 0;
}
.skill-flex{
	width: 100%;
}
.over-scale{
	border: 1px solid #D3D3D3;
	height: 5px;
	background-color: #D3D3D3;
	position: relative;
	margin-bottom: 20px;
}
.over-scale::before{
	position: absolute;
	content: "";
	height: 100%;
	background-color: #DC143C;
}

.skill-intro .html::before{
	width: 90%;
}
.skill-intro .css::before{
	width: 60%;
}
.skill-intro .js::before{
	width: 80%;
}
.skill-intro .php::before{
	width: 70%;
}
.skill-intro .mys::before{
	width: 55%;
}
/*Skill Area End*/
.term-area{
	background-color: #111111;
	padding: 100px 0 120px;
}
.term-title{
	color: #fff;
}
.term-title span::before{
	width: 40%;
    height: 4px;
    background: #fff;
    bottom: 35%;
    transform: translateX(-260%);
}
.term-title span::after{
	 background: #fff;
	 width: 40%;
	 transform: translateX(115%);
}
.term-card{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.term-img img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin: 0 auto;
	border: 8px solid red;
}
.term-intro{
	background-color: #222;
	width: 30%;
	padding: 30px 30px;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	transition: .2s;
}
.term-intro:hover{
	background-color: #DC143C;
}
.term-intro:hover .term-img img{
	border-color: #fff;
}
.term-intro h3{
	font-size: 35px;
	padding: 15px 0;
}
.term-intro p{
	font-size: 19px;
}
/*Term Area End*/
.contact-area{
	background-color: #FFF9F9;
	padding-bottom: 80px;
}
.contact-title{
	padding-top: 100px;
}
.contact-title span::before{
	transform: translateX(-145%);
}
.contact-info{
	display: flex;
	width: 100%;
}
.contact-left{
	width: 50%;
}
.contact-left h3{
	font-size: 28px;
	margin-bottom: 20px;
}
.contact-left p{
	font-size: 18px;
	width: 85%;
}
.location{
	display: flex;
	margin: 40px 0 40px 10px;
}
.location i{
	font-size: 30px;
	color: #DC143C;
	margin-top: 8px;
}
.location .local{
	margin: 0 0 0 20px;
}
.contact-right{
	width: 50%;
}
.contact-right h2{
	font-size: 28px;
	margin-bottom: 20px;
}
.text-input{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.contact-right input{
	width: 48%;
	height: 50px;
	background-color: transparent;
	padding: 10px 10px;
	border: 1px solid #A6A6A6;
	font-size: 18px;
	border-radius: 10px;
	margin: 10px 0;
}
.contact-right input:focus{
	outline: none;
}
.contact-right input[type="email"]{
	width: 48%;
}
.contact-right input[type="subject"]{
	width: 100%;
}
.contact-right input[type="message"]{
	width: 100%;
	padding: 20px 0 100px 10px;
	margin: 20px 0;
}
.btn-contact{
	width: 100%;
}
.contact-right input[type="submit"]{
	width: 40%;
	color: #fff;
	background-color: #DC143C;
	cursor: pointer;
	border: 1px solid #DC143C;
}
.contact-right input[type="submit"]:hover{
	color: #DC143C;
	background-color: transparent;
}
.contact-right .rocket input{
	display: block;
}
/*contact area end*/

.footer-area{
	background-color: #111111;
	padding: 30px 0;
	color: #fff;
}
.footer-area p{
	text-align: center;
	font-size: 18px;
}
.footer-area p span{
	color: #DC143C;
}